@page "/about"
@model RazorPagesWeb.Pages.AboutModel
@{
    ViewData["Title"] = "About";
    string instagram = "\u0040fauzigalihajisaputro";
}
<h1>@ViewData["Title"]</h1>

<p>Hi, my name is Fauzi Galih. <br /> 
    My Instagram: <a href="https://www.instagram.com/fauzigalihajisaputro/" target="_blank">@instagram</a>
</p>
